/* .container {
  border: 1px solid black;
  height: 600px;
  width: 600px;
}

.box {
  background-color: olive;
  height: 50%;
  width: 50%;
}

p {
  font-size: 40px;
  line-height: 200%;
} */
/* 
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

.pixels h1 {
  font-size: 96px;
}

.pixels h2 {
  font-size: 64px;
}

.pixels p {
  font-size: 32px;
} */

.container {
  font-size: 20px;
}

h1 {
  font-size: 4em;
  margin: 0;
  margin-left: 1em;
}

p {
  font-size: 1.5em;
}

.small {
  font-size: 0.7em;
}
