/* .box {
  border: 1px solid red;
  height: 300px;
  width: 300px;
  background-image: url('/images/peacock.png'), url('/images/sunset.jpg');
  background-color: aquamarine;
} */

/* .box {
  border: 1px solid red;
  height: 500px;
  width: 900px;
  background-image: url('/images/people.jpg');
  background-size: cover;
} */

/* .box {
  border: 1px solid red;
  height: 400px;
  width: 200px;
  background-image: url('/images/woman.jpg');
  background-size: cover;
  background-position: bottom left;
} */

/* .box {
  border: 20px dashed red;
  height: 400px;
  width: 400px;
  background-image: url('/images/woman.jpg');
  background-clip: content-box;
} */

/* .box {
  border: 2px solid black;
  height: 400px;
  width: 400px;
  background-image: linear-gradient(to bottom right, cyan, yellow, magenta);
} */

/* .box {
  border: 2px solid black;
  height: 400px;
  width: 400px;
  background-image: radial-gradient(circle at bottom, cyan, pink, yellow);
} */

/* .box {
  border: 2px solid black;
  height: 400px;
  width: 400px;
  background-image: conic-gradient(cyan, yellow, magenta, cyan);
} */

/* .box {
  border: 2px solid black;
  height: 400px;
  width: 400px;
  background-image: repeating-linear-gradient(45deg, cyan, yellow 30%);
} */

/* .box {
  border: 2px solid black;
  height: 400px;
  width: 400px;
  background: url('images/peacock.png') no-repeat center/100%;
} */

.box {
  border: 2px solid black;
  height: 700px;
  width: 700px;
  background: url('images/people.jpg');
  background-size: cover;
  filter: blur(5px);
}

img {
  width: 500px;
  filter: hue-rotate(255deg);
}
